.container__list {
  display: grid;

  gap: 20px;
  list-style-type: none;
}

.list__item {
  max-width: 190px;
  border-radius: var(--border-radius-small-);
  cursor: pointer;
  background: var(--color-white-);
}
.list__item a {
  text-decoration: none;
  text-align: center;
  color: var(--color-dark-grey-);
}

.person__photo {
  border-radius: var(--border-radius-small-) var(--border-radius-small-) 0 0;
  width: 100%;
  height: auto;
}

@media(min-width:801px) {
  .container__list{
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
 
}


@media(max-width: 800px) {
  .container__list{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
@media(max-width: 600px) {
  .container__list{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
}
